html {
	box-sizing: border-box;

  /*Get Roboto*/
  font: normal 100%/1.5 "Roboto", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.bannercontent {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  width: 100%;
  max-width: 45rem;

  transform: translate(-50%, -50%);
}

.bannerleft {
 float: left;
 width: 33%;
 padding:

}

.bannerright {
  float: right;
  width: 60%;
}

.title {
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin:
}

p {
  font-size: 1.5rem;
}

body {
  margin: 0;
}

a {
	text-decoration: none;
	background-color: #333333;
	color: #ffffff;
	padding: 10px;
	border-radius: 10px;
}

a :hover {
	  background-color: black;
}
